@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.logo {
  width: 50px;
}

.custom-nav-item {
  margin: 0 15px;
  text-decoration: none;
  background-color: #F97AB6;
  border-radius: 25px;
}

.custom-nav-item>a:hover {
  color: white;
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

header,
footer {
  font-family: "Kanit", sans-serif;
  background-color: #F97AB6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
}

nav {
  background-color: #333;
  /* สีพื้นหลังของ Navigation Bar เป็นสีเทาเข้ม */
  color: white;
  /* สีตัวอักษรใน Navigation Bar เป็นสีขาว */
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  /* สีของลิงก์ใน Navigation Bar เป็นสีขาว */
  margin: 0 15px;
  /* กำหนดระยะห่างระหว่างลิงก์ */
  text-decoration: none;
  /* ลบขีดเส้นใต้ของลิงก์ */
}

nav a:hover {
  text-decoration: underline;
  /* เพิ่มขีดเส้นใต้เมื่อเมาส์วางอยู่เหนือลิงก์ */
}

h1,
h2,
h3 {
  color: #5e5e5e;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}