/* คอมเม้นต์ใน CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00539C;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #0073e6;
    overflow: hidden;
    margin: 0;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #00539C;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #00539C;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
